<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://use.typekit.net/pnq5gyb.css">
  <script src="https://cdn.flourish.rocks/flourish-live-v5.min.js"></script>
  <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
  <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
  <script src="https://unpkg.com/d3@7.9.0/dist/d3.min.js"></script>

  <script src="https://cdn.flourish.rocks/flourish-live-v5.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://www.transportenvironment.org/uploads/code/iframeResizer.contentWindow.js"></script>



</head>

<body id="main-code">
  <div id="loader-wrapper">
    <div class="loader"></div>
  </div>

  <div class="main-content">

    <div class="page-title">
      <h1>T&E's EU road fuel excess profits tracker</h1>
      <p>The tracker estimates excess profits generated along the supply chain of the road fuel sold in the EU following the escalation of conflict in the Middle East, triggered by US and Israeli strikes on Iran on 28 February 2026</p>
    </div>

    <div id="dataContainer">
      <div id="controls">
      </div>
      <div class="wrapper__25_number">
        <div class="left-top box">
          <div id="chart-2" class="chart"></div>
   

        </div>
        <div class="left-bottom box">
          <div id="chart-3" class="chart"></div>
          <p>Only part of these excess profits could fall under the scope of a EU windfall profit tax</p>

        </div>
      </div>
      <div class="right">
        <div class="right-top">

          <div id="chart-0" class="chart"></div>
        </div>
        <div class="right-bottom">
          <div id="chart-1" class="chart"></div>

        </div>
      </div>
      <div class="source">
        <p>T&E analysis based on data from Oil Bulletin, Bloomberg, UNFCCC and Eurostat. For further details, <a
            href="https://uploads.transportenvironment.org/production/files/Oil-Profits-Methodological-Note.pdf?dm=1774625180">see
            the methodological note</a>. Prices analysed span the period from the week preceding 9 March to the week preceding 22 June, latest Oil Bulletin data available. The tracker will be updated weekly.</p>
      </div>
    </div>

<script>
    </script>
    <script src="app.js"></script>
 
</body>

</html>
